/******************* UNIVERSAL *******************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/******************* FONTS & COLOURS ***********************/
@font-face {
  font-family: "MiddleEarth";
  src: url("/fonts/Middleearth-ao6m.ttf");
  src: url("/fonts/middleearth-ao6m-webfont.woff") format("woff");
}

@font-face {
  font-family: "RingBearer";
  src: url("/fonts/RINGM___.TTF");
  src: url("/fonts/ringm___-webfont.woff") format("woff");
}

@font-face {
  font-family: "AnironBold";
  src: url("/fonts/anirb___.ttf");
  src: url("/fonts/anirb___-webfont.woff") format("woff");
}

@font-face {
  font-family: "AnironMedium";
  src: url("/fonts/anirm___.ttf");
  src: url("/fonts/anirm___-webfont.woff") format("woff");
}

/** SASS VARIABLES **/
/* Font styles */
/* Font sizes */
/* Colours */
/******************* SEPARATOR DIV *******************/
.separator {
  overflow: hidden;
  width: 100%;
}

#mainBooksSeparator {
  background: #383838;
}

#booksMoviesSeparator {
  background-color: #555555;
}

/******************* HEADER *******************/
.header {
  font-size: 100px;
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black)), url("../images/middle.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black), url("../images/middle.jpg");
  background-size: cover;
  background-position: center center;
}

.header h1 {
  font-size: 100px;
  margin: 50px;
}

.header h3 {
  font-size: 40px;
}

h1, h2, h3, h4, h5, p {
  font-family: "RingBearer";
  color: #e4e4e4;
}

p {
  font-family: "Merienda";
}

.ringDiv {
  height: 150px;
  width: 150px;
}

.ring {
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin-top: 25px;
  height: 100%;
  width: auto;
}

.ring:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

@media screen and (max-width: 768px) {
  .header > * {
    margin: 20px;
    width: 70%;
  }
  .header h1 {
    font-size: 75px;
  }
  .header h3 {
    font-size: 40px;
  }
  .ringDiv {
    height: 100px;
    width: 100px;
  }
}

/******************* BOOKS AND MOVIES CONTAINERS *******************/
.booksContainer, .moviesContainer {
  height: 100%;
  width: 100%;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#383838));
  background: linear-gradient(180deg, black 0%, #383838 100%);
}

.titles h1 {
  margin: 30px;
  font-size: 60px;
}

.titles {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.covers .covers .col {
  width: 300px;
}

.covers {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.covers .col p {
  margin-top: 20px;
  letter-spacing: 0.1em;
  width: 70%;
}

.covers .col h3 {
  margin: 20px;
  width: 60%;
  font-size: 40px;
  color: #e4e4e4;
}

.covers .column img {
  padding: 20px;
  height: 300px;
}

/** Movies **/
#moviesContainer {
  padding-bottom: 150px;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#555));
  background: linear-gradient(180deg, #333 0%, #555 100%);
}

/** Variables for Javascript **/
@media screen and (max-width: 768px) {
  .covers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .covers img {
    padding: 20px;
    height: 280px;
  }
}

/******************* CHARACTERS *******************/
.charactersWrapper {
  background: #444;
}

.characters {
  height: 100%;
}

.profileDiv img {
  height: 200px;
  border-radius: 20px;
}

.quote {
  font-size: 30px;
}

/******************* FOOTER *******************/
footer {
  height: 300px;
  background: slategray;
}

.footerContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */