/******************* UNIVERSAL *******************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******************* FONTS & COLOURS ***********************/
@font-face {
    font-family: "MiddleEarth";
    src: url("/fonts/Middleearth-ao6m.ttf");
    src: 
    url("/fonts/middleearth-ao6m-webfont.woff") format("woff")
}

@font-face {
    font-family: "RingBearer";
    src: url("/fonts/RINGM___.TTF");
    src: 
    url("/fonts/ringm___-webfont.woff") format("woff")
}

@font-face {
    font-family: "AnironBold";
    src: url("/fonts/anirb___.ttf");
    src: 
    url("/fonts/anirb___-webfont.woff") format("woff")
}

@font-face {
    font-family: "AnironMedium";
    src: url("/fonts/anirm___.ttf");
    src: 
    url("/fonts/anirm___-webfont.woff") format("woff")
}

/** SASS VARIABLES **/

/* Font styles */
$titleFont: "RingBearer";
$subTitleFont: "MiddleEarth";
$paragraphFont: "Merienda";

/* Font sizes */

$bigTitle: 100px;
$subTitle: 75px;
$mainTitle: 60px;
$title: 40px;
$quote: 30px;

/* Colours */
$primary: rgb(228, 228, 228);
$mainBackground: #000;
$darkGrey: #262626;
$middleGrey: #555;

/******************* SEPARATOR DIV *******************/

 .separator {
    overflow: hidden;
    width: 100%;
  }

  #mainBooksSeparator {
    background: #383838;
  }

  #booksMoviesSeparator {
    background-color: #555555;
  }
  

/******************* HEADER *******************/

.header {
    font-size: $bigTitle;
    height: 100vh;
    width: 100%;
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 1)),
    url('../images/middle.jpg');
    background-size: cover;
    background-position: center center;
}

.header h1 {
    font-size: $bigTitle;
    margin: 50px;
}

.header h3 {
    font-size: $title;
}

h1,h2,h3,h4,h5,p {
    font-family: $titleFont;
    color: $primary;
}

p {
    font-family: $paragraphFont;
}

.ringDiv {
    height: 150px;
    width: 150px;
}

.ring {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    margin-top: 25px;
    height: 100%;
    width: auto;
}

.ring:hover {
    transform: scale(1.4);
}

@media screen and (max-width: 768px) {
    .header > * {
        margin: 20px;
        width: 70%;
    }

    .header h1 {
        font-size: $subTitle;
    }

    .header h3 {
        font-size: $title;
    }

    .ringDiv {
        height: 100px;
        width: 100px;
    }
}



/******************* BOOKS AND MOVIES CONTAINERS *******************/

.booksContainer, .moviesContainer {
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 100%);
}

.titles h1 {
    margin: 30px;
    font-size: $mainTitle;
}

.titles {
    align-items: center;
}

 .covers .covers .col {
    width: 300px;
}

.covers {
    margin-top: 75px;
    display: flex;
    justify-content: space-evenly;
}

.covers .col p {
    margin-top: 20px;
    letter-spacing: 0.1em;
    width: 70%
}

.covers .col h3 {
    margin: 20px;
    width: 60%;
    font-size: $title;
    color: $primary;
}

.covers .column img {
    padding: 20px;
    height: 300px;
}

/** Movies **/

#moviesContainer {
    padding-bottom: 150px;
    background: #333;
    background: linear-gradient(180deg, #333 0%, #555 100%);
}

/** Variables for Javascript **/

@media screen and (max-width: 768px) {
    .covers {
        flex-direction: column;
        align-items: center;
    }

    .covers img {
        padding: 20px;
        height: 280px;
    }
}

/******************* CHARACTERS *******************/

.charactersWrapper {
    background: #444;

}

.characters {
    height: 100%;
}

.profileDiv img {
    height: 200px;
    border-radius: 20px;
}

.quote {
    font-size: $quote;
}

/******************* FOOTER *******************/

footer {
    height: 300px;
    background: slategray
}

.footerContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}